
<div class="u-marg-b-xs u-pad-x-xs u-bg--white">
				<div class="c-container c-gutters u-pad-y-md u-align-center u-align-center@sm">
					<div class="u-pad-t-xxs">
						<span class="t-text--xs u-color--brand-purple u-marg-r-lg u-block@sm u-marg-b-sm@sm u-marg-r-0@sm">Copyright © V.V.S.K</span>

						<a href="/terms-of-use" class="t-link t-link--opac t-link--underline t-link--opac t-text--xs u-relative u-inline-block u-color--brand-purple u-marg-r-lg u-marg-b-sm@sm u-marg-r-xs@sm">Terms of use</a>
						<a href="/privacy-policy" class="t-link t-link--opac t-link--underline t-link--opac t-text--xs u-relative u-inline-block u-color--brand-purple u-marg-r-lg u-marg-b-sm@sm u-marg-r-xs@sm">Privacy Policy</a>
						<a href="/copyright-policy" class="t-link t-link--opac t-link--underline t-link--opac t-text--xs u-relative u-inline-block u-color--brand-purple u-marg-r-lg u-marg-r-0@sm u-marg-b-sm@sm">Copyright Policy</a>

						<span class="t-text--xs u-relative u-color--brand-purple u-inline-block u-force-3d u-fit-w@sm"><!--Site by:&nbsp;<a href="http://immersive-g.com/" target="_blank" title="Visit Immersive Garden website" class="t-link t-link--opac t-link--underline t-link--opac t-text--xs u-relative u-color--brand-purple u-fit-w@sm">Immersive Garden</a>--></span>
					</div>
				</div>
			</div>
